h3 {
    color: saddlebrown;
    font-family: Jokerman;
    font-size: 200%;
}

table tr:hover {
    color: cornflowerblue;
}

table tr:nth-child(2n) td {
    background: papayawhip;
}

table tr:nth-child(2n+1) td {
    background: paleturquoise;
}

.fat {
    font-weight: bold;
}
td.hov:hover{

}
a:hover{
    color: black;
}