h3 {
    color: cornflowerblue;
    font-family: Verdana;
    font-size: 300%;
}

table tr:hover {
    color: salmon;
}

table tr:nth-child(2n) td {
    background: #f5d19b;
}

table tr:nth-child(2n+1) td {
    background: #fcf2e2;
}

.fat {
    font-weight: bold;
}